:root {

    --primary-color: #ff8c00;
    --secondary-color: #0044ff;
    --accent-color: #ffd700;

    /* ==============================Extra colors=================================== */

    --extra-color: #005f6b;

    --text-color: #333333;

    /* call to action */
    --button-color: #ff4500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

/* ==================================header section=============================== */

.header {
    font-size: 0.4rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background: var(--primary-color);
    position: relative;
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--extra-color);
    transition: all 0.3s ease;

}

.logo span {
    color: var(--secondary-color)
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-list-item {
    list-style-type: none;
}

.nav-links {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 70px;
    font-weight: 500;
    color: var(--secondary-color);
}

.menu-icon {
    display: none;
}

.menu-icon i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--secondary-color);

}

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 90vh;
}

section {
    padding: 5rem 12%;
    scroll-snap-align: start;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: lightskyblue;

}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h2 {
    font-size: 2.1rem;
    text-transform: capitalize;
}

.home-content h3 {
    font-family: 2rem;
    text-transform: capitalize;
}

.home-content p {
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 300;
}

.social-links a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid red;
    margin: 2rem 0.5rem;
    padding: 0.4rem;
    background: transparent;
}

.btn-grp button {
    width: 400px;
    height: 6vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    color: azure;
    font-size: 1.5rem;
}

.home-image img {
    width: 55vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--extra-color);
    transition: 0.4s ease-in-out;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: lightgreen;
}

.about-image img {
    width: 55vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--accent-color);
    transition: 0.4s ease-in-out;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.about-content h2 {
    font-size: 2.1rem;
    text-transform: capitalize;
}



h1 {
    margin-bottom: 20px;
    text-align: center;
}

.skill-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-area {
    flex: 1;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 25px grey;
    margin: 10px;
    padding: 20px;
    background-color: lightcyan;
}

.skill {
    position: relative;
    padding: 10px;
}

.skill-title {
    margin-bottom: 10px;
}

.skill-bar {
    height: 20px;
    width: 100%;
    border-radius: 5px 0 0 5px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: lightslategray;
}

.skill-fill {
    position: absolute;
    border-radius: 5px 0 0 5px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    color: darkred;
    font-size: 0.9rem;

}

.skill-percent {
    position: relative;
    color: black;
    z-index: 1;
}

.html {
    background-color: lightgreen;
    width: 65%;
    animation: html 0.3s ease-in-out;
}

.css {
    background-color: lightpink;
    width: 75%;
    animation: css 0.3s ease-in-out;
}

@keyframes html {
    from {
        width: 0%;
    }

    to {
        width: 65%;
    }
}

@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 75%;
    }
}

/* ==================================Project section=============================== */
.project {
    padding: 20px;
    top: 0;
    background-color: lightcyan;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.slider-wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 300px;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .card-content {
    padding: 20px;
}

.card h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.7em;
    color: #555;
    margin-bottom: 20px;
    height: 60px;
    overflow: hidden;
}

.card a {
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

.card a:hover {
    background-color: #0056b3;
}

/* Prev/Next Buttons */
.slider-wrapper .prev,
.slider-wrapper .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.slider-wrapper .prev:hover,
.slider-wrapper .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-wrapper .prev {
    left: 10px;
}

.slider-wrapper .next {
    right: 10px;
}


/* ==================================contact section=============================== */
.contact {
    padding: 20px;
    top: 0;
    background-color: lightpink;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--secondary-color);
    text-align: center;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}


.contact form .input-group-1,
.contact form textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--button-color);
    background-color: black;
    border-radius: 2rem;
    border: 2px solid var(--button-color);
    margin: 1.5rem 0;
    resize: none;
}

.button-grp {
    width: 400px;
    height: 6vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    color: azure;
    font-size: 1.5rem;
}

@media(max-width:600px) {
    .logo {
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
        top: 70px;
        left: 0;
        right: 0;
        gap: 0;
        position: absolute;
        overflow: hidden;
        background-color: var(--primary-color);

    }

    .nav-list-item {
        font-size: 1.8rem;
    }

    .menu-icon {
        padding: 10px;
        display: block;
    }


    #menuList {
        transition: all 0.3s;
    }

    section {
        padding: 2rem 5%;
    }

    .home {
        flex-direction: column-reverse;
        gap: 0.9rem
    }

    .home-image img {

        width: 32vh;
    }

    .home-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .home-content h2 {
        font-size: 1.4rem;
    }

    .home-content h3 {
        font-size: 1.6rem;
    }

    .home-content p {
        font-size: 0.9rem;
        padding: 2rem;
    }

    .social-links a {
        margin: 0.5rem 0.25rem;
        padding: 0.4rem;

    }

    .btn-grp button {
        width: 250px;
        margin: 5px;
        padding: 5px;
    }

    .about {
        flex-direction: column;
    }

    .about-image img {

        width: 32vh;
    }

    .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-content h2 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 1.2rem;
        padding: 2rem;
    }
}