:root {

    --primary-color: #ff8c00;
    --secondary-color: #0044ff;
    --accent-color: #ffd700;

    /* ==============================Extra colors=================================== */

    --extra-color: #005f6b;

    --text-color: #333333;

    /* call to action */
    --button-color: #ff4500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

/* ==================================header section=============================== */

.header {
    font-size: 0.4rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    background: var(--primary-color);
    position: relative;
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--extra-color);
    transition: all 0.3s ease;

}

.logo span {
    color: var(--secondary-color)
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list-item {
    list-style-type: none;
}

.nav-links {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 70px;
    font-weight: 500;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    cursor: pointer;
    font-size: 2rem;
    color: var(--secondary-color);

}


main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 90vh;
    padding: 5rem 12%;
    scroll-snap-align: start;

}

/* ==================================Home section=============================== */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h2 {
    font-size: 2.1rem;
    text-transform: capitalize;
}

.home-content h3 {
    font-family: 2rem;
    text-transform: capitalize;
}

.home-content p {
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 300;
}

.social-links a {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    color: red;
    border-radius: 50%;
    border: 2px solid red;
    margin: 2rem 0.5rem;
    padding: 0.4rem;
    background: transparent;
}

.btn-grp button {
    width: 400px;
    height: 6vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--button-color);
    color: azure;
    font-size: 1.5rem;
}

.home-image img {
    width: 55vh;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--extra-color);
    transition: 0.4s ease-in-out;
}


@media(max-width:600px) {
    .logo {
        padding: 10px;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
        top: 70px;
        left: 0;
        right: 0;
        gap: 0;
        position: absolute;
        overflow: hidden;
        background-color: var(--primary-color);

    }

    .nav-list-item {
        font-size: 1.8rem;
    }

    .menu-icon {
        padding: 10px;
        display: block;
    }


    #menuList {
        transition: all 0.3s;
    }
}